.mygrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 2rem;
  justify-content: center;
}
.group2:hover > .pop {
  display: block;
}
.pop {
  display: none;
  margin: 0 0.25rem;
}
@media (max-width: 1024px) {
  .pop {
    display: block;
  }
}
